<!doctype html>
<html lang="en">
<head>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<br />
<div class="container">
<div class="row text-center">
	<h1>당신의 오늘 하루는 어땠나요?</h1>
	<br>
	<br>
</div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
        	<form class="form-horizontal well" role="form" action="{% url 'sum' %}" method="POST">
			{% csrf_token %}
        		<div class="row">
        			<div class="col-xs-4">
        				<img src= "https://trello-attachments.s3.amazonaws.com/5d173ac4bd68ae357e5ee6b1/5d17713c6928c24380415273/cad3930b43fd3f690ff9049773def6bd/check1.png" class="img-responsive img-radio">
						<br>
						횟수: <input type="number" name="tumbler" min="0" value="0">
        			</div>
        			<div class="col-xs-4">
        				<img src= "https://trello-attachments.s3.amazonaws.com/5d173ac4bd68ae357e5ee6b1/5d17713c6928c24380415273/cd96ca338473d88a3fdcf61a34a4a6ff/check2.png" class="img-responsive img-radio">
						<br>
						횟수: <input type="number" name="public_transportation" min="0" value="0">
					</div>
        			<div class="col-xs-4">
        				<img src= "https://trello-attachments.s3.amazonaws.com/5d173ac4bd68ae357e5ee6b1/5d17713c6928c24380415273/cc7089367f53dc141103e3aeb25ce7d5/check3.png" class="img-responsive img-radio">
						<br>
						횟수: <input type="number" name="ecobag" min="0" value="0">
					</div>
					<input type="submit" class="btn btn-primary btn-radio" value="제출하기"></input>
        	</form>
        </div>
    </div>
</div>
</body>


{% comment %} <div class="container">
    <div class="row text-center">
        <br>
        <br>
        <button type="button" class="btn btn-primary btn-radio">제출하기</button>
        				<input type="checkbox" id="check3" class="hidden">
	</div>

</div> {% endcomment %}

<style>
	input[type="submit"] {
		margin-top: 15px;
		margin-left: 42%;
	}
</style>