
<!doctype html>
<html lang="en">
<head>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
        	<form class="form-horizontal well" role="form">
        		<div class="row">
        			<div class="col-xs-4">
        				<img src= "https://trello-attachments.s3.amazonaws.com/5d173ac4bd68ae357e5ee6b1/5d17713c6928c24380415273/cad3930b43fd3f690ff9049773def6bd/check1.png" class="img-responsive img-radio">
                        <br>
        				<button type="button" class="btn btn-primary btn-radio">UP</button>
        				<input type="checkbox" id="check1" class="hidden">
        			</div>
        			<div class="col-xs-4">
        				<img src= "https://trello-attachments.s3.amazonaws.com/5d173ac4bd68ae357e5ee6b1/5d17713c6928c24380415273/cd96ca338473d88a3fdcf61a34a4a6ff/check2.png" class="img-responsive img-radio">
                        <br>
        				<button type="button" class="btn btn-primary btn-radio">UP</button>
        				<input type="checkbox" id="check2" class="hidden">
        			</div>
        			<div class="col-xs-4">
        				<img src= "https://trello-attachments.s3.amazonaws.com/5d173ac4bd68ae357e5ee6b1/5d17713c6928c24380415273/cc7089367f53dc141103e3aeb25ce7d5/check3.png" class="img-responsive img-radio">
                        <br>
        				<button type="button" class="btn btn-primary btn-radio">UP</button>
        				<input type="checkbox" id="check3" class="hidden">
        			</div>
        		</div>
        		<div class="row space-20">
        			<div class="col-xs-12">
        				<div class="form-group">
        				</div>
        			</div>
        		</div>
        	</form>
        </div>
    </div>
</div>
</body>